<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Notes</title>
</head>
<body>
    {% if loading %}
        <div id="loading-indicator">Loading notes... Please wait.</div>
    {% else %}
        <div id="content">
        {% for note in notes_list %}
            <div style="padding: 0.5rem; border: 1px solid grey; margin: 0.5rem;word-break: break-word;">
                <div><b>Title:</b> {{ note.name }}</div>
                <div><b>Description:</b> {{ note.description }}</div>
            </div>
        {% endfor %}
        </div>


        <div style="margin-top: 1rem;">
            <span>Page {{ number }} of {{ num_pages }}.</span>
            <div>
                {% if has_previous %}
                    <a href="?page=1">&laquo; first</a>
                    <a href="?page={{ number|add:"-1" }}">previous</a>
                {% endif %}

                {% if has_next %}
                    <a href="?page={{ number|add:"1" }}">next</a>
                    <a href="?page={{ num_pages }}">last &raquo;</a>
                {% endif %}
            </div>
        </div>
    {% endif %}

    <script>
        function loadData() {
            window.location.reload()
        }

        {% if loading %}
            // Set the interval and store the interval ID.
            setInterval(loadData, 1000);
        {% endif %}
    </script>
</body>

</html>